<header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills btn">
      <li class="nav-item"><a class="nav-link active" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="router-link-active"
        routerLink="home" aria-current="page">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link" routerLink="contact-us" [routerLinkActiveOptions]="{ exact: true }"  routerLinkActive="router-link-active">Contact-Us</a></li>
      <li class="nav-item"><a href="#"  routerLink="workshop" class="nav-link">Workshop</a></li>
      <li class="nav-item"><a href="#"  routerLink="fag" class="nav-link">Fag</a></li>
    </ul>
  </header>


  
  

