<!-- <div class="footer-main">
  <div class="footer-content">
      <div class="footer-1">
          <a href="index.html" class="footer-1-logo">Fiber</a>
          <p class="footer-l-content">With Fiber, you can setup your own personal portfolio in minutes with dozes of premade, beautiful templates.</p>
          <p class="footer-1-copyright">Created by - <a href="https://wa.me/+994558534074"><span>Muhammedhuseyn</span></a></p>
      </div>
      <div class="footer-2">
          <div class="footer-f1">
              <div class="footer-2-1">
                  <h5 class="footer-2-1-title">Sitemap</h5>
                  <ul class="footer-2-1-links">
                      <li><a href="#">Homepage</a></li>
                      <li><a href="#">Pricing</a></li>
                      <li><a href="#">Testimonials</a></li>
                      <li><a href="#">Features</a></li>
                  </ul>
              </div>
              <div class="footer-2-2">
                  <h5 class="footer-2-2-title">Resources</h5>
                  <ul class="footer-2-2-links">
                      <li><a href="#">Support</a></li>
                      <li><a href="#">Contact</a></li>
                      <li><a href="#">FAQ</a></li>
                  </ul>
              </div>
          </div>
          <div class="footer-f2">
              <div class="footer-2-3">
                  <h5 class="footer-2-3-title">Company</h5>
                  <ul class="footer-2-3-links">
                      <li><a href="#">About</a></li>
                      <li><a href="#">Customers</a></li>
                      <li><a href="#">Blog</a></li>
                  </ul>
              </div>
              <div class="footer-2-4">
                  <h5 class="footer-2-4-title">Portfolios</h5>
                  <ul class="footer-2-4-links">
                      <li><a href="#">Search Andrews</a></li>
                      <li><a href="#">Mathew Higgins</a></li>
                      <li><a href="#">Janice Dave</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
 -->








 <footer>
  <div class="footer-main">
      <div class="footer-content">
          <div class="footer-1">
              <a href="index.html" class="footer-1-logo">Fiber</a>
              <p class="footer-l-content">With Fiber, you can setup your own personal portfolio in minutes with dozes of premade, beautiful templates.</p>
              <p class="footer-1-copyright">Created by - <a href="https://wa.me/+994558534074"><span>Muhammedhuseyn</span></a></p>
          </div>
          <div class="footer-2">
              <div class="footer-f1">
                  <div class="footer-2-1">
                      <h5 class="footer-2-1-title">Sitemap</h5>
                      <ul class="footer-2-1-links">
                          <li><a href="#">Homepage</a></li>
                          <li><a href="#">Pricing</a></li>
                          <li><a href="#">Testimonials</a></li>
                          <li><a href="#">Features</a></li>
                      </ul>
                  </div>
                  <div class="footer-2-2">
                      <h5 class="footer-2-2-title">Resources</h5>
                      <ul class="footer-2-2-links">
                          <li><a href="#">Support</a></li>
                          <li><a href="#">Contact</a></li>
                          <li><a href="#">FAQ</a></li>
                      </ul>
                  </div>
              </div>
              <div class="footer-f2">
                  <div class="footer-2-3">
                      <h5 class="footer-2-3-title">Company</h5>
                      <ul class="footer-2-3-links">
                          <li><a href="#">About</a></li>
                          <li><a href="#">Customers</a></li>
                          <li><a href="#">Blog</a></li>
                      </ul>
                  </div>
                  <div class="footer-2-4">
                      <h5 class="footer-2-4-title">Portfolios</h5>
                      <ul class="footer-2-4-links">
                          <li><a href="#">Search Andrews</a></li>
                          <li><a href="#">Mathew Higgins</a></li>
                          <li><a href="#">Janice Dave</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>




<script>
  const navEl = document.getElementById("nav-mobile-menu");
const nav = document.getElementsByTagName("nav");

navEl.addEventListener("click", () => {
  nav[1].classList.toggle("active");
});
</script>
