<div class="top">
  <div class="responsive-container-block bigContainer">
    <div class="responsive-container-block Container">
      <div class="leftSide">
        <p class="text-blk heading">
          Lorem ipsum dolor amet
        </p>
        <p class="text-blk subHeading">
          Lorem ipsum dolor sit amet, consect etur
        </p>
        <div class="lastRow">
          <a class="contactUs" href="#">
            Contact Us
          </a>
          <div class="afterOR">
            <p class="text-blk orBetween">
              OR
            </p>
            <div class="phoneBlock">
              <img class="icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/sc29.png">
              <div class="phoneDetails">
                <p class="text-blk tollFree">
                  TOLL FREE
                </p>
                <a href="#">
                  <p class="text-blk phoneNumber">
                    +994 55 853 4074
                  </p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <img class="mainImg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/sc30.png">
    </div>
  </div>
</div>

<section class="contact-container">
  <div class="contact-logo">
  </div>
  <form class="contact-form">
    <div class="heading">
      <h2>CONTACT US</h2>
      <p>feel free to reach out to us, we'd love to hear from you!</p>
    </div>
    <div class="input">
      <i class="fa-regular fa-user"></i>
      <input name="username" type="text" placeholder="Username">
    </div>
    <div class="input">
      <i class="fa-regular fa-envelope"></i>
      <input name="email" type="email" placeholder="Email">
    </div>
    <div class="input">
      <i class="fa-regular fa-message"></i>
      <textarea
        name="message"
        cols="30"
        rows="10"
        placeholder="Message"
        style="resize: none"
      ></textarea>
    </div>
    <input class="button" type="button" value="Submit" />
  </form>
  <div class="contact-info">
    <h3 class="heading">OUR INFORMATIONS</h3>
    <ul class="contacts">
      <li>
        <i class="fa-solid fa-location-dot"></i>
        123 Main Street, Suite 456, Anytown
      </li>
      <li>
        <i class="fa-solid fa-envelope"></i>
        info@apexenterprises.com
      </li>
      <li>
        <i class="fa-solid fa-phone"></i>
        555-123-4567
      </li>
      <li>
        <i class="fa-solid fa-print"></i>
        555-987-6543
      </li>
    </ul>
    <div class="social-links"></div>
  </div>
</section>









  