<nav>
    <div class="nav-main">
        <div class="nav-logo">
            <a href="https://www.instagram.com/muhammed16w/">Mhuseyn.km16</a>
        </div>
        <div class="nav-mobile-menu" id="nav-mobile-menu">
            <img src="https://rvs-fiber-landing-page.vercel.app/Assets/Hamburger-Menu.svg" alt="">
        </div>
    </div>
</nav>



<main>
    <section class="section-1">
        <div class="section-1-main">
            <div class="section-1-content">
                <div class="section-1-rating">
                    <div class="section-1-rating-img">
                        <img src="https://rvs-fiber-landing-page.vercel.app/Assets/star.svg" alt="">
                        <img src="https://rvs-fiber-landing-page.vercel.app/Assets/star.svg" alt="">
                        <img src="https://rvs-fiber-landing-page.vercel.app/Assets/star.svg" alt="">
                        <img src="https://rvs-fiber-landing-page.vercel.app/Assets/star.svg" alt="">
                        <img src="https://rvs-fiber-landing-page.vercel.app/Assets/star.svg" alt="">
                    </div>
                    <span>Rated 4.8/5 (243 reviews)</span>
                </div>
                <h1 class="section-1-title">Create your portfolio in minutes.</h1>
                <p class="section-1-desc">With Fiber, you can setup your own personal portfolio in minutes with dozens of premade, beautiful templates.</p>
                <div class="section-1-links">
                    <a href="#" class="section-1-link">Start Free Trial</a>
                    <a href="#" class="section-1-alt-link">View Examples </a>
                </div>
                <ul class="section-1-lists">
                    <li><img src="https://rvs-fiber-landing-page.vercel.app/Assets/Checkmark.svg" alt=""> <span>No Credit Card Required</span></li>
                    <li><img src="https://rvs-fiber-landing-page.vercel.app/Assets/Checkmark.svg" alt=""> <span>10 Free Templates</span></li>
                </ul>
            </div>
            <div class="section-1-img">
                <img src="https://rvs-fiber-landing-page.vercel.app/Assets/hero-Illustration.png" alt="" style="width: 100%;">
            </div>
        </div>
    </section>

    <section class="section-2">
        <div class="section-2-main">

            <div class="section-2-1">
                <div class="section-2-1-main">
                    <div class="section-2-1-header">
                        <span class="section-2-1-header-span">Why Fiber?</span>
                        <h1 class="section-2-1-header-title"> A good portfolio means good <br> employability.</h1>
                    </div>
                    <div class="section-2-1-body">
                        <div class="cards">
                            <div class="card">
                                <div class="card-img">
                                    <img src="https://rvs-fiber-landing-page.vercel.app/Assets/time.svg" alt="">
                                </div>
                                <h4 class="card-title">Build in minutes</h4>
                                <p class="card-text">With a selection of premade templates, you can build out a portfolio in less than 10 minutes.</p>
                            </div>
                            <div class="card">
                                <div class="card-img">
                                    <img src="https://rvs-fiber-landing-page.vercel.app/Assets/code.svg" alt="">
                                </div>
                                <h4 class="card-title">Add custom CSS</h4>
                                <p class="card-text">Customize your personal portfolio even more with the ability to add your own custom CSS styles.</p>
                            </div>
                            <div class="card">
                                <div class="card-img">
                                    <img src="https://rvs-fiber-landing-page.vercel.app/Assets/allSizes.svg" alt="">
                                </div>
                                <h4 class="card-title">Responsive</h4>
                                <p class="card-text">All Fiber templates are fully responsive to ensure the experience is seemless across all devices.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section-2-2">
                <div class="section-2-2-content">
                    <h1 class="section-2-2-title">Diversity your Website</h1>
                    <p class="section-2-2-desc">Create an even more impressive website by creating case studies for your projects. Simply follow our step-by-step guide.</p>
                    <a href="#" class="section-2-2-link">Start Free Trial</a>
                </div>
                <div class="section-2-2-img">
                    <img src="https://c4.wallpaperflare.com/wallpaper/68/643/740/kali-linux-kali-linux-nethunter-linux-wallpaper-preview.jpg" alt="" style="width: 100%;">
                </div>
            </div>

            <div class="section-2-3">
                <div class="section-2-3-main">
                    <div class="cards" id="carousel">
                        <div class="card">
                            <div class="card-details">
                                <div class="card-user-img">
                                    <img src="https://rvs-fiber-landing-page.vercel.app/Assets/User-Avatar.svg" alt="">
                                </div>
                                <div class="card-user-content">
                                    <h4>Sarah Andrews</h4>
                                    <span>$100k in revenue</span>
                                </div>
                            </div>
                            <p class="card-text">Settig up my Website with mhuseyn took no more than 10 minutes. Since then, my portfolio has attracted a lot of clients and made me more than $100k.</p>
                            <div class="card-footer">
                                <a href="#">View Sarah's Website</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-details">
                                <div class="card-user-img">
                                    <img src="https://rvs-fiber-landing-page.vercel.app/Assets/User-Avatar-2.svg" alt="">
                                </div>
                                <div class="card-user-content">
                                    <h4>Mathew Higgins</h4>
                                    <span>$20k in revenue</span>
                                </div>
                            </div>
                            <p class="card-text">I have been getting A LOT of leads ever since I used Fiber's premade templates, now I just need to work on my case studies and I'll be ready to go!</p>
                            <div class="card-footer">
                                <a href="#">View Mathew's website</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-details">
                                <div class="card-user-img">
                                    <img src="https://rvs-fiber-landing-page.vercel.app/Assets/User-Avatar-32.svg" alt="">
                                </div>
                                <div class="card-user-content">
                                    <h4>Janice Dave</h4>
                                    <span>$30k in revenue</span>
                                </div>
                            </div>
                            <p class="card-text">I only just started freelancing this year have already made more tha I ever in my full-time job. The templates are so amazing.</p>
                            <div class="card-footer">
                                <a href="#">View Janice's Website</a>
                            </div>
                        </div>
                    </div>     
                </div>
            </div>

   <div class="container">
<div class="example-container mat-elevation-z8">
  <mat-table class="tabe" #table [dataSource]="dataSource">

    <ng-container class="no" matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="weight">
      <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="symbol">
      <mat-header-cell *matHeaderCellDef> Gender </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
</div> 
        </div>
    </section>
</main>

